<div data-comment="{{ comment.get_id() }}" class="comments__comment">
	<hr>

	<div class="comments__comment-text" data-comment="{{ comment.get_id() }}">{{ comment.render() | safe }}</div>

	<div class="comments__comment-info" data-comment="{{ comment.get_id() }}">
		<span class="comments__comment-user">{{ comment.username() }}</span>
		<div class="pull-right">
			<span style="font-size:small" class="comments__coment-date pull-right">{{ comment.create_date.strftime('%B %d %Y') }}</span>
		</div>
		{% if user and user.get_id() == comment.user_id() %}
			<div class="text-center" style="">
				<button class="btn btn-warning btn-sm comments__comment-edit" data-comment="{{ comment.get_id() }}">Edit</button>
				<button class="btn btn-danger btn-sm comments__comment-delete" data-comment="{{ comment.get_id() }}">Delete</button>
				<span class="comments__comment-status"> </span>
			</div>
		{% endif %}
	</div>
</div>
