<div class="posts_post">
	<h1 class="posts_post-title text-center">
		<a href="/blog/{{ post.get_id() }}/">{{ post.title }}</a>
	</h1>
	<div class="posts_post-poster text-center">
		by {{ post.owner_name() }}
	</div>
	<div class="posts_post-date text-center">
		{{post.create_date.strftime('%B %d %Y')}}
	</div>

	{% if summarize_post %}
		<div class="posts_post-text">{{ post.render_snippet() | safe }}</div>
	{% else %}
		<div class="posts_post-text">{{ post.render() | safe }}</div>
	{% endif %}

	<div class="text-center button-block posts_read-more">
		{% if summarize_post %}
			<a class="btn btn-info" href="/blog/{{ post.get_id() }}/">Read More...</a>
		{% endif %}
	</div>

	{% if user and user.get_id() | string == post.owner_id %}
		<div class="text-center button-block">
			<a class="btn btn-warning" href="/blog/edit/{{ post.get_id() }}/">Edit Post</a>
		</div>
		<form class="text-center button-block" method="POST" action="/blog/delete/{{ post.get_id() }}/">
			<button type="submit" class="btn btn-danger">Delete Post</button>
		</form>
	{% endif %}



	<div class="text-right likes" data-id="{{ post.get_id() }}">
		{% include "snippet/likes.html" %}
	</div>

</div>
