{% extends "base.html" %}

{% block content %}

	<div class="posts">
		{% if posts %}

			{% set summarize_post = True %}
			{% for post in posts %}

				{% include '/snippet/post-display.html' %}

			{% endfor %}

			<div class="pagination">
				{% if prev_page %}
					<div class"pull-left"><a href="{{ prev_page }}">Prev Page</a></div>
				{% endif %}

				{% if next_page %}
					<div class"push-right"><a href="{{ next_page }}">Next Page</a></div>
				{% endif %}
			</div>


		{% else %}
			<div style="text-align:center;color:red">{{error}}</div>
		{% endif %}

	</div>



{% endblock %}
